body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    overflow: hidden;
    background: #0f0c29;
}

#particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle at center, #1b0036, #000000);
}

header{
    display:flex;
    justify-content:center;
    padding:20px 0px;
    background:transparent;
    backdrop-filter: blur(8px);  
    border-bottom: 1px solid rgba(255,255,255,0.08);  
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

    
.logo{
    font-size:24px;
    font-weight:700;
    letter-spacing:2px; 
    background: linear-gradient(45deg,#c084fc,#7c3aed);
    -webkit-background-clip: text;
    color: transparent;
}
 
    
nav{
    display:flex;
    gap:40px;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 30px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

    
nav a{
    color: #ccc;
    text-decoration:none;
    font-size:14px;
    font-weight: 500;    
    transition:0.3s;

}

    
nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    
    width:0%;
    height:2px;
    
    background:#a855f7;
    
    transition:0.3s;
}
    
  
    
nav a:hover{
    color:rgba(255, 255, 255, 0.384);
    }
    
    nav a:hover::after{
    width:100%;
    }
 
    nav a.ativo{
        color: white;

}


.inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo {
    font-size: 90px;
    margin: 0;
    background: linear-gradient(45deg, #c084fc, #7c3aed);
    -webkit-background-clip: text;
    color: transparent;
}

.subtitulo {
    font-size: 16px;
    max-width: 500px;
    margin: 20px o;
    opacity: 0.9;

}

.botao-comecar {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px;
    background: linear-gradient(45deg, #9333ea, #6d28d9);
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.botao-comecar:hover {
    transform: scale(1.08);
    box-shadow:
        0 0 10px #9333ea,
        0 0 40px #9333ea,
        0 0 80px #9333ea;
}

.nota-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    margin: 50px 5px;

}

.card-notas {
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 40px ;
}

.card-notas h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #e9d5ff;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 12;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.12);
    color: white;
    font-size: 14px;
    outline: none;
    transition: o.3s;
}

input:focus {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 8px #9333ea;
}

.n {
    margin-top: 20px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(45deg, #9333ea, #6d28d9);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #9333ea;
}



.escolha {
    text-align: center;
    padding: 80px 20px;
    margin: 20px;
}


.botoes {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.btn { 
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(45deg, #9333ea, #6d28d9);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    text-align: center;
}


.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #9333ea;
}

.cursos {
    margin-top: 50px;
    display: none;
    /* começa escondido */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}



.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #9333ea;
}

.card h3 {
    color: #c084fc;
}
